.margin-top-60 {
  margin-top: 60px;
}

.margin-top-45 {
  margin-top: 45px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-15 {
  margin-top: 15px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100%;
}

h1 {
  font-size: 20px;
  font-weight: lighter;
  color: #58402c;
}

h2 {
  font-size: 20px;
  font-weight: lighter;
  color: #58402c;
}

h3 {
  font-size: 20px;
  font-weight: lighter;
  color: #58402c;
}

h4 {
  font-size: 20px;
  font-weight: lighter;
  color: #58402c;
}

h5 {
  font-size: 20px;
  font-weight: lighter;
  color: #58402c;
}

h6 {
  font-size: 20px;
  font-weight: lighter;
  color: #58402c;
}

header {
  width: 80%;
  height: 70px;
  margin: auto;
}

header .header_container {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #58402c;
}

header .header_container .header_container_logo {
  float: left;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header_container .header_container_items {
  width: 50%;
  height: 100%;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header_container .header_container_items .items_item {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  display: inline-block;
}

header .header_container .header_container_items .items_item a {
  -webkit-transition: 0.5;
  transition: 0.5;
  text-decoration: none;
  color: #58402c;
}

header .header_container .header_container_items .items_item a:hover {
  color: #201aa3;
}

