//ciclo for per i margin-top//

//@for $marginTop from 15 through 60{
  //.margin-top-#{$marginTop}{
  //    margin-top: #{$marginTop}px;
  //  }
//}

//ciclo while per margin-to//
$marginTop:60;
@while $marginTop > 0{
  .margin-top-#{$marginTop}{
    margin-top: 1px * $marginTop;
  }
  $marginTop : $marginTop - 15;
};



@mixin display-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@import "common";
@import "variables";

//ciclo each per standarizzare gli H//

@each $item in h1, h2, h3, h4, h5, h6{
  #{$item}{
    font-size: 20px;
    font-weight: lighter;
    color: $font_primario;
  }
}

@import "partials/_header";
